/* --- BASE --- */
body {
    display: flex;
}
:root {
    font-family: 'Varela Round', sans-serif;
    scrollbar-color: #52555c #21252b;
    scrollbar-width: thin;
}
::selection {
    background-color: #5865f2;
    color: #fff;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #2c2c31;
}
::-webkit-scrollbar-track {
    background-color: #27272b;
}
* {
    margin: 0px;
    padding: 0px;
    text-decoration-color: #fff;
}

/* --- HEADER --- */
.header {
    display: flex;
    align-items: center;
    background-color: #27272b;
    justify-content: space-between;
    height: 90px;
    padding: 0 5%;
}
.header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45%;
}
.header-links li {
    list-style: none;
    height: 100%;
}
.header-links a {
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-size: 13px;
    padding: 0 25px;
    margin-left: 10px;
    position: relative;
    transition: all ease-in-out .12s;
}
.header-links a:hover {
    background-color: #36363a;
    transition: all ease-in-out .12s;
}
.header li:first-child {
    margin: 0;
}

/* --- FOOTER --- */
.footer {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: #242428;
}
.footer p {
    color: #fff;
    font-size: 13px;
}
.footer i {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    transition: all ease-in-out .12s;
    border-radius: 6px;
}
.footer div a {
    margin-left: 5px;
}
.footer div:last-child {
    margin-right: 5px;
}
.footer i:hover {
    background-color: #36363a;
}

/* --- SIDEBAR --- */
.sidebar {
    position: sticky;
    top: 0px;
    width: 250px;
    height: 101vh;
    background-color: #2c2c31;
    overflow-x: hidden;
    transition: all ease-in-out .5s;
    flex-shrink: 0;
    scrollbar-color: #3d3d41 #2c2c31;
    scrollbar-width: thin;
    overflow-y: scroll;
    user-select: none;
    direction: rtl;
}
.sidebar::-webkit-scrollbar {
    width: 8px;
}
.sidebar::-webkit-scrollbar-thumb {
    background-color: #3d3d41;
}
.sidebar::-webkit-scrollbar-track {
    background-color: #2c2c31;
}
.sidebar.unwrap {
    width: 0;
}
.items {
    list-style-type: none;
    line-height: 16px;
    margin-top: 15px;
    visibility: visible;
    opacity: 1;
    transition: visibility .5s, opacity .5s ease-in-out;
}
.items.unwrap {
    visibility: hidden;
    opacity: 0;
}
.items a, .items li em {
    cursor: pointer;
    font-style: normal;
	color: #fff;
    background-color: #2c2c31;
    text-decoration: none;
    transition: all ease-in-out .12s;
    border-radius: 6px;
    font-size: 15px;
    padding: 10px;
    display: block;
    margin: 0 0 5px 0;
    white-space: nowrap;
}
.items a:hover, .items li em:hover, a.active {
    background-color: #36363a;
    transition: all ease-in-out .12s;
}
.items li {
    max-height: 41px;
    overflow: hidden;
    margin: 0 15px;
}
.items li.expand, .items > ul > li:first-child {
    max-height: fit-content;
}
.items li em.expand {
    background-color: #36363a;
    transition: all ease-in-out .12s;
}
.items li em.expand:before {
    font: var(--fa-font-solid);
    content: "\f0d8";
}
.items li em:before {
    font: var(--fa-font-solid);
	content: "\f0d7";
    display: inline-block;
    vertical-align: middle;
	width: 18px;
}
.items li > ul > li {
    margin: 0 0 0 10px;
}
.items, .logo-container {
    direction: ltr;
}
.logo-container img {
    width: 50px;
	height: 50px;
	display: inline-block;
    margin: 0 10px 0 0;
}
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    visibility: visible;
    opacity: 1;
    transition: visibility .5s, opacity .5s ease-in-out;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
.logo-container.unwrap {
    opacity: 0;
    visibility: hidden;
}

/* --- CONTENT --- */
.content {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 10px 30px;
    transition: all ease-in-out .5s;
    width: 120vh;
    min-height: calc(100vh - 240px);
}
.wrapper {
    width: 100%;
    background-color: #27272b;
    transition: all ease-in-out .5s;
}
.fa-bars {
    min-width: 25px;
    font-size: 25px;
    color: #fff;
    margin: 0 15px;
    visibility: collapse;
}

/* --- FORMAT --- */
.content {
    color: #fff;
}
.content p {
    color: #d0d0d4;
}
.content > pre, code {
	border: 1px solid #36363b;
    background-color: #333338;
    border-radius: 2px;
}
.content pre {
    padding: 10px;
    margin: 16px 0;
    white-space: break-spaces;
}
.content code {
	padding: 0.125rem 0.3125rem 0.0625rem;
}
.content pre code {
	background-color: transparent;
	border: 0;
	padding: 0;
}
.content a, .footer a {
	color: #5865f2;
    text-decoration: none;
    transition: all ease-in-out .12s;
}
.content a:hover, .footer a:hover {
	color: #747ff8;
	transition: all ease-in-out .12s;
}
.content > h6, h5, h4, h3, h2, h1 {
	margin: 26px 0 16px;
}
.content img {
	margin: 12px auto;
	display: block;
	max-width: 100%;
}
.content blockquote {
	border-left: 3px solid #36363b;
	padding-left: 10px;
	margin: 5px 0;
}

/* --- WIDGETS --- */
.page {
    border: 1px solid #36363b;
    background-color: #333338;
    border-radius: 4px;
    min-height: 45px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 15px;
    transition: all ease-in-out .12s;
    color: #fff !important;
}
.page:before {
    font: var(--fa-font-solid);
    content: "\f090";
    display: inline-block;
	min-width: 40px;
    font-size: 30px;
}
.page:hover {
    background-color: #4b4b53;
    border: 1px solid #4f4f58;
    transition: all ease-in-out .12s;
}

tip {
    border: 1px solid #36363b;
    background-color: #333338;
    border-radius: 4px;
    font-size: 14px;
    min-height: 45px;
    padding: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
}
tip:before {
    font: var(--fa-font-solid);
    content: "\f059";
    min-width: 40px;
    font-size: 30px;
    color: #fff;
    float: left;
}

/* --- MOBILE --- */
@media screen and (max-width: 1250px) {
    /* --- HEADER --- */
    .header {
        padding: 0 2%;
        width: 96%;
        height: 80px;
        position: fixed;
    }
    .header-links a {
        padding: 0 15px;
	    font-size: 12px;
    }

    /* --- FOOTER --- */
    .footer {
        flex-direction: column;
        height: 100px;
    }
    .footer div {
        margin-top: 5px;
    }

    /* --- SIDEBAR --- */
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1;
    }
    .fa-bars {
        visibility: visible;
    }
    .logo-container {
        height: 80px;
    }

    /* --- CONTENT --- */
    .content {
        width: unset;
        margin: 90px auto 0 auto;
        min-height: calc(100vh - 200px);
    }
}
