/* --- BASE --- */
body {
    display: flex;
}
:root {
    font-family: 'Varela Round', sans-serif;
    scrollbar-color: #52555c #21252b;
    scrollbar-width: thin;
}
::selection {
    background-color: #5865f2;
    color: #fff;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #2c2c31;
}
::-webkit-scrollbar-track {
    background-color: #27272b;
}
* {
    margin: 0px;
    padding: 0px;
    text-decoration-color: #fff;
    -webkit-tap-highlight-color: transparent;
}
.content p > img, .content pre, .page, tip, user {
    box-shadow: 0 3px 5px #212124;
}
a, button {
    outline: none;
}

/* --- HEADER --- */
.header {
    display: flex;
    z-index: 1;
    align-items: center;
    background-color: #27272b;
    justify-content: space-between;
    height: 90px;
    padding: 0 5%;
}
.header-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45%;
}
.header-links li {
    list-style: none;
    height: 100%;
}
.header-links a {
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-size: 13px;
    padding: 0 25px;
    margin-left: 10px;
    position: relative;
    transition: all ease-in-out .12s;
}
.header-links a:hover {
    background-color: #36363a;
    transition: all ease-in-out .12s;
}
.header li:first-child {
    margin: 0;
}

/* --- FOOTER --- */
.footer {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: #242428;
}
.footer p {
    color: #fff;
    font-size: 13px;
}
.footer i, user i, copy i:before {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    transition: all ease-in-out .12s;
    border-radius: 6px;
}
.footer div a {
    margin-left: 5px;
}
.footer div:last-child {
    margin-right: 5px;
}
.footer i:hover, copy i:hover:before {
    background-color: #36363a;
}

/* --- SIDEBAR --- */
.sidebar {
    position: sticky;
    top: 0px;
    width: 250px;
    height: 101vh;
    background-color: #2c2c31;
    overflow-x: hidden;
    transition: all ease-in-out .5s;
    flex-shrink: 0;
    scrollbar-color: #3d3d41 #2c2c31;
    scrollbar-width: thin;
    overflow-y: scroll;
    user-select: none;
    padding-bottom: 50px;
}
.sidebar::-webkit-scrollbar {
    width: 8px;
}
.sidebar::-webkit-scrollbar-thumb {
    background-color: #3d3d41;
}
.sidebar::-webkit-scrollbar-track {
    background-color: #2c2c31;
}
.items {
    list-style-type: none;
    line-height: 16px;
    margin-top: 15px;
    visibility: visible;
    opacity: 1;
    transition: visibility .5s, opacity .5s ease-in-out;
}
.items i {
    margin-right: 8px;
}
.items a, .items li em {
    cursor: pointer;
    font-style: normal;
    color: #fff;
    background-color: #2c2c31;
    text-decoration: none;
    transition: all ease-in-out .12s;
    border-radius: 6px;
    font-size: 15px;
    padding: 10px;
    display: block;
    margin: 0 0 5px 0;
    white-space: nowrap;
}
.items a:hover,
.items li em:hover,
.items li em.expand,
.items a.active {
    background-color: #36363a;
    transition: all ease-in-out .12s;
}
.items li {
    max-height: 41px;
    overflow: hidden;
    margin: 0 15px;
}
.items li.expand, .items > ul > li:first-child {
    max-height: fit-content;
}
.items li em.expand:before {
    font: var(--fa-font-solid);
    content: "\f0d8";
}
.items li em:before {
    font: var(--fa-font-solid);
	content: "\f0d7";
    display: inline-block;
    vertical-align: middle;
	width: 18px;
}
.items li > ul > li {
    margin: 0 0 0 10px;
}
.items ul ul, .items li:not(:first-child) a {
    margin-left: 10px;
}
.container img {
    width: auto;
	height: 50px;
	display: inline-block;
    margin: 0 10px 0 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    visibility: visible;
    opacity: 1;
    transition: visibility .5s, opacity .5s ease-in-out;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

/* --- CONTENT --- */
.content {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 10px 30px;
    transition: all ease-in-out .5s;
    width: 120vh;
    min-height: calc(100vh - 240px);
}
.wrapper {
    width: 100%;
    background-color: #27272b;
    transition: all ease-in-out .5s;
}
.fa-bars {
    min-width: 25px;
    font-size: 25px;
    color: #fff;
    margin: 0 15px;
    visibility: collapse;
}

/* --- FORMAT --- */
.content {
    color: #fff;
}
.content li li {
    margin-left: 15px;
}
.content p, .content li {
    color: #d9d9df;
}
.content > p {
    margin-bottom: 10px;
}
.content > pre, code {
	border: 1px solid #36363b;
    background-color: #333338;
    border-radius: 2px;
}
.content pre {
    padding: 10px;
    margin: 16px 0;
    white-space: break-spaces;
}
.content code {
	padding: 0.125rem 0.3125rem 0.0625rem;
}
.content pre code {
	background-color: transparent;
	border: 0;
	padding: 0;
}
.content a, .footer a {
	color: #5865f2;
    text-decoration: none;
    transition: all ease-in-out .12s;
}
.content a:hover, .footer a:hover {
	color: #747ff8;
	transition: all ease-in-out .12s;
}
.content > h6, h5, h4, h3, h2, h1 {
	margin: 26px 0 16px;
}
.content img {
	margin: 12px auto;
	display: block;
	max-width: 100%;
    border-radius: 2px;
}
.content blockquote {
	border-left: 3px solid #36363b;
	padding-left: 10px;
	margin: 5px 0;
}
.content hr {
    border: 0;
    background-color: #313135;
    height: 2px;
    margin: 15px 5px;
}
.content .issue-tracker {
    list-style: none;
}
.content btn {
    display: flex;
    width: fit-content;
    border: 1px solid #36363b;
    background-color: #333338;
    padding: 15px;
    margin: 15px auto;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out .05s;
}
.content btn:hover {
    background-color: #4b4b53;
    border: 1px solid #4f4f58;
    transition: all ease-in-out .05s;
}
.content btn:active {
    border: 1px solid #646472;
    background-color: #4b4b53;
}
.content table {
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
    margin: 15px;
}
tr {
    border-bottom: 4px solid #27272b;
}
td, th {
    padding: 10px;
    background: #333338;
    border-left: 4px solid #27272b;
}
th {
    padding: 15px 10px;
    text-align: left;
}
td:first-child, th:first-child {
    border-left: none;
}
tbody tr:last-child {
    border-bottom: none;
}

/* --- WIDGETS --- */
.card {
    border: 1px solid #36363b;
    background-color: #333338;
    border-radius: 4px;
    padding: 15px;
    margin: 15px;
}

.page {
    min-height: 45px;
    display: flex;
    align-items: center;
    transition: all ease-in-out .12s;
    color: #fff !important;
}
.page i {
    display: inline-block;
	margin-right: 15px;
    font-size: 30px;
}
.page:hover {
    background-color: #4b4b53;
    border: 1px solid #4f4f58;
    transition: all ease-in-out .12s;
}

tip {
    font-size: 14px;
    min-height: 45px;
    display: flex;
    align-items: center;
}
tip i {
    min-width: 45px;
    font-size: 30px;
    color: #fff;
    float: left;
}

user {
    display: block;
    font-size: 20px;
    color: #fff;
}
user img {
    width: 80px;
    height: 80px;
    margin: 0 12px 0 0 !important;
    float: left;
    border-radius: 4px !important;
}
user span {
    font-size: 14px;
    color: #d9d9df;
    margin: 5px 0;
    word-break: break-word;
}
user t {
    display: flex;
    flex-direction: column;
}
user i {
    margin-left: 5px;
}
user i:hover {
    background-color: #484850;
}

copy:before {
    display: inline-block;
    font: var(--fa-font-solid);
    content: "\f0c5";
    min-width: 22px;
    font-size: 16px;
    color: #fff;
}
copy:hover {
    background-color: #36363a;
}
copy {
    transition: all ease-in-out .12s;
    display: inline-block;
    position: relative;
    margin: 8px 10px;
    padding: 13px;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
}
copy f {
    position: absolute;
    padding: 13px;
    border-radius: 4px;
    background-color: #242428;
    top: -50%;
    left: 0;
    opacity: 0;
    transition: all ease-in-out .12s;
}
copy f.active {
    transition: all ease-in-out .12s;
    opacity: 0.8;
}

/* --- MOBILE --- */
@media screen and (max-width: 1250px) {
    /* --- BASE --- */
    body {
	height: 100%;
        overflow-y: hidden;
    }
    body.unwrap {
        height: auto;
        overflow-y: auto;
    }
    
    /* --- HEADER --- */
    .header {
        padding: 0 2%;
        width: 96%;
        height: 80px;
        position: fixed;
    }
    .header.active {
        box-shadow: 0 0 5px #151515;
    }
    .header-links a {
        padding: 0 15px;
	font-size: 12px;
    }

    /* --- FOOTER --- */
    .footer {
        flex-direction: column;
        height: 100px;
    }
    .footer div {
        margin-top: 5px;
    }

    /* --- SIDEBAR --- */
    .sidebar {
        position: fixed;
        top: 0;
        box-sizing: border-box;
        z-index: 3;
        box-shadow: 0 0 20px #151515;
    }
    .sidebar.unwrap {
        box-shadow: none;
        width: 0;
    }
    .fa-bars {
        visibility: visible;
    }
    .container {
        height: 80px;
    }
    .logo.unwrap {
    	opacity: 0;
    	visibility: hidden;
    }
    .items.unwrap {
    	visibility: hidden;
    	opacity: 0;
    }
    .shadow {
    	position: fixed;
    	width: 100vw;
    	height: 100vh;
    	opacity: .5;
    	background-color: #000;
    	transition: visibility .5s, opacity .5s ease-in-out;
    	z-index: 2;
    }
    .shadow.unwrap {
    	visibility: hidden;
    	opacity: 0;
    }

    /* --- CONTENT --- */
    .content {
        width: unset;
        margin: 90px auto 0 auto;
        min-height: calc(100vh - 200px);
    }
    
    /* --- WIDGETS --- */
    user img {
    	width: 60px;
    	height: 60px;
    }
}
